################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/codeback/FileContentIndex/ebb5b3f5-8b39-4e81-882f-07f2b8e039ad.vsidx
